*{
    margin: 0;
    padding: 0;
}
.head1{
    width: 100%;
    height: 80px;
}
.head1>.head1_img1{
    margin-left: 294px;
    margin-top: 20px;
    width: 155px;
    height: 40px;
}
.head1_search{
    display: inline-block;
    margin-left: 50px;
    position: absolute;
    top: 18px;
}
.head1 .head1_search_input{
    width: 300px;
    height: 35px;
    background-color: white;
    border: 2px solid #CCCCCC;
}
.head1_search_img{
    margin-left: 281px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: url("img/search1.png") no-repeat;
    position: relative;
    top: -25px;
}
.head1_search>.head1_search_img:hover{
    background: url("img/search2.png") no-repeat;
}
.head1_ul1{
    margin-left: 905px;
    margin-top: -35px;
    width: 301px;
}
.head1_ul1>li{
    display: inline-block;
}
.head1_ul1>li>a:hover{
    color: #169AF3;
}
.head1_ul1>li>a{
    text-decoration: none;
    color: #777777;
}
.head1_ul1>.li2{
    margin-left: 33px;
    margin-right: 33px;
}
.head1 p{
    width: 22px;
    height: 1px;
    background-color: #CCCCCC;
    transform: rotate(90deg);
    margin-left: 1191px;
    margin-top: -11px;
}
.head1>.head1_ul2{
    margin-left: 1230px;
    margin-top: -15px;
}
.head1>.head1_ul2>li{
    display: inline-block;
    margin-right:10px;
    line-height: 26px;
}
.head1_ul2>.li1{
    content: '';
    width: 50px;
    height: 29px;
    background-color: #169AF3;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
}
.head1_ul2>.li1>a{
    text-decoration: none;
    color: white;
}
.head1_ul2>.li2{
    content: '';
    width: 49px;
    height: 28px;
    background-color: white;
    border: 1px solid #CCCCCC;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
}
.head1_ul2>.li2>a{
    text-decoration: none;
    color: #777777;
}



#head2{
    width: 100%;
    height: 55px;
    background-color: #2C323B;
}
#head2>#head2_ul1{
    display: inline-block;
    margin-left: 292px;
}
#head2_ul1>a>li{
    display: inline-block;
    width: 90px;
    height: 55px;
    text-align: center;
    line-height: 50px;
}
#head2_ul1>#li4{
    display: inline-block;
    width: 90px;
    height: 55px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
#head2_ul1>a{
    color: white;
    text-decoration: none;
}
#head2_ul1>a>li:hover{
    background-color: #0C8ED9;
}
#head2_ul1>#li4{
    color: white;
}
#li4>img{
    position: absolute;
    top: 104px;
    left: 642px;
}
#head2_ul1>#li4>#li4_ul1{
    display: none;
    list-style: none;
    margin-top: 34px;
    position: absolute;
    top: 101px;
}
#li4_ul1>li{
    height: 45px;
    width: 90px;
    border-top: 1px solid blue;
    background-color: #2C323B;
    line-height: 40px;
}
#head2_ul1>#li4:hover{
    background-color: #0C8ED9;
}
#head2_ul1>#li4:hover #li4_ul1{
    display: block;
}
#li4_ul1>li>a{
    text-decoration: none;
    color: white;
}

#head2_ul2{
    display: inline-block;
    margin-left: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
}
#head2_ul2>a>li{
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin-right: 30px;
}
#head2_ul2>a{
    text-decoration: none;
    color: white;
}
.head2_ul2_p{
    float: left;
    display: inline-block;
    width: 14px;
    height: 14px;
    position: relative;
    left: -5px;
    color: #CCCCCC;
}
#head2_ul2>a:hover{
    color: #0C8ED9;
}
#head2_ul2>a:hover .head2_ul2_p{
    color: #0C8ED9;
}


/*section*/
#section_div1{
    width: 100%;
    height: 448px;
    background: url("img/1.jpg") no-repeat;
    background-size: 100% 448px;
}
#section_div1_bottom{
    width: 100%;
    height: 60px;
    background-color: #0F5B99;
    position: relative;
    bottom: -387px;
}
#section_div1_ul{
    margin-left: 352px;
    line-height: 60px;
}
#section_div1_ul>li{
    display: inline-block;
    width: 102px;
    height: 60px;
    margin-left: 120px;
    color: white;
    cursor: pointer;
}
#x_p1{
     width: 18px;
     height: 1px;
     background-color: #CCCCCC;
     transform: rotate(90deg);
     margin-top: -30px;
     margin-left: -95px;
 }
#x_p2{
    width: 18px;
    height: 1px;
    background-color: #CCCCCC;
    transform: rotate(90deg);
    margin-top: -30px;
    margin-left: -78px;
}
#section_div1_img {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 440px;
}
#img_li1{
    position: absolute;
    top: 15px;
    left: 444px;
    width: 25px;
    height: 25px;
    background: url("img/pc.png");
}
#img_li2{
    position: absolute;
    top: 15px;
    left: 668px;
    width: 25px;
    height: 25px;
    background: url("img/mac.png");
}
#img_li3{
    position: absolute;
    top: 15px;
    left: 896px;
    width: 25px;
    height: 25px;
    background: url("img/andriod.png");
}
#section_div1_ul>li:hover{
    color: yellow;
}
#section_div1_ul>li:hover #img_li1{
     background: url("img/pc_hover.png");
}

#section_div1_ul>li:hover #img_li2{
    background: url("img/mac_hover.png");
}
#section_div1_ul>li:hover #img_li3{
    background: url("img/andriod_hover.png");
}

/*section_div2*/
#section_div2{
    width: 1004px;
    height: 503px;
    margin: auto;
}
#section_div2_head{
    width: 1004px;
    height: 30px;
}
#section_div2_head>ul{
    margin-top: 20px;
}
#section_div2_head>ul>li{
    display: inline-block;
}
#section_div2_head #p2:hover{
    color: #169AF3;
}
#section_div2_head #p4:hover{
    color: #169AF3;
}
#flex1{
    width: 1004px;
    height: 327px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}
#flex1_img1{
    display: inline-block;
    width: 327px;
    height: 327px;
    cursor: pointer;
    background: url("img/20180524211604594764.jpg");
    background-size: 327px 327px;
}
#flex1_img1>div{
    background-color: black;
    opacity: 0.5;
    width: 327px;
    height: 50px;
    margin-top: 277px;
    color: white;
    line-height: 25px;
    font-family: "楷体";
}
#flex1_one{
    display: flex;
    flex-direction: row;
}
#flex1_img2{
    margin: 0 3px 3px 3px;
    width: 162px;
    height: 162px;
    cursor: pointer;
    background: url("img/20180508182643444074.jpg");
    background-size: 162px 162px;
}
#flex1_img2>div{
    background-color: black;
    opacity: 0.5;
    width: 162px;
    height: 50px;
    margin-top: 112px;
    color: white;
    line-height: 25px;
    font-family: "楷体";
}
#flex1_img3{
     margin: 0 0 3px 0;
     width: 162px;
     height: 162px;
     cursor: pointer;
    background: url("img/20180320105710346258.jpg");
    background-size: 162px 162px;
 }
#flex1_img3>div{
    background-color: black;
    opacity: 0.5;
    width: 162px;
    height: 50px;
    margin-top: 112px;
    color: white;
    line-height: 25px;
    font-family: "楷体";
}
#flex1_two{
    display: flex;
    flex-direction: row;
}
#flex1_img4{
    width: 162px;
    height: 162px;
    cursor: pointer;
    margin: 0 3px 0 3px;
    background: url("img/20180514121210431772.jpg");
    background-size: 162px 162px;
}
#flex1_img4>div{
    background-color: black;
    opacity: 0.5;
    width: 162px;
    height: 50px;
    margin-top: 112px;
    color: white;
    line-height: 25px;
    font-family: "楷体";
}
#flex1_img5{
    width: 162px;
    height: 162px;
    cursor: pointer;
    background: url("img/20180523131206868754.jpg");
    background-size: 162px 162px;
}
#flex1_img5>div{
    background-color: black;
    opacity: 0.5;
    width: 162px;
    height: 50px;
    margin-top: 112px;
    color: white;
    line-height: 25px;
    font-family: "楷体";
}
#flex1_img1:hover .flex1_img1_div{
    color: #169AF3;
}
#flex1_one>div:hover .flex1_img_one{
    color: #169AF3;
}
#flex1_two>div:hover .flex1_img_two{
    color: #169AF3;
}
#flex2{
    display: inline-block;
    margin-left: 25px;
}
#flex2>li{
    list-style: none;
    width: 320px;
    height: 99px;
    background-color: #F6F6F6;
}
#flex2>li>img{
    width: 99px;
    height: 99px;
    cursor: pointer;
}
#section_div2_lastimg{
    margin-top: 22px;
    width: 1004px;
    height: 100px;
    cursor: pointer;
}
#flex2 ul{
    list-style: none;
    margin-top: -83px;
    margin-left: 111px;
    cursor: pointer;
}
#flex2 .li_col{
    color: #777777;
}
#flex2>li>ul>li:hover{
    color: #169AF3;
}

/*section_div3*/
#section_div3{
    width: 1004px;
    height: 495px;
    margin: 40px auto;
}
#section_div3>ul{
    width: 1004px;
    height: 32px;
}
#section_div3>ul>li{
    display: inline-block;
    list-style: none;
    cursor: pointer;
}
#sd3_li1{
    font-size: 22px;
}
#sd3_li2{
    font-size: 12px;
    margin-left: 540px;
}
#sd3_li2:hover{
    color: #169AF3;
}
#sd3_li3{
    font-size: 22px;
    margin-left: 28px;
}
#section_div3 .sd3_li{
    font-size: 12px;
    margin-left: 25px;
}
#section_div3 .sd3_li:hover{
    color: #169AF3;
}
#section_div3_flex1{
    display: flex;
    flex-direction: row;
}
#section_div3_flex1>#flex1_left{
    display: flex;
    flex-direction: column;
}
#section_div3_flex1>#flex1_left>.flex1_div{
    display: inline-block;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: 650px;
    height: 129px;
}
#section_div3_flex1 #sdf1_img1{
    width: 103px;
    height: 130px;
    background: url("img/radio_1.jpg") no-repeat;
    background-size: 101px 101px;
    margin-right: 36px;
    cursor: pointer;
}
#section_div3_flex1 #sdf1_img2{
    width: 103px;
    height: 130px;
    background: url("img/radio_2.jpg") no-repeat;
    background-size: 101px 101px;
    margin-right: 36px;
    cursor: pointer;
}
#section_div3_flex1 #sdf1_img3{
    width: 103px;
    height: 130px;
    background: url("img/radio_3.jpg") no-repeat;
    background-size: 101px 101px;
    margin-right: 36px;
    cursor: pointer;
}
#section_div3_flex1 #sdf1_img4{
    width: 103px;
    height: 130px;
    background: url("img/radio_4.jpg") no-repeat;
    background-size: 101px 101px;
    margin-right: 36px;
    cursor: pointer;
}
#section_div3_flex1 #sdf1_img5{
    width: 103px;
    height: 130px;
    background: url("img/radio_5.jpg") no-repeat;
    background-size: 101px 101px;
    cursor: pointer;
}
#section_div3_flex1 #sdf1_img6{
    width: 103px;
    height: 130px;
    background: url("img/radio_6.jpg") no-repeat;
    background-size: 101px 101px;
    margin-right: 36px;
    cursor: pointer;
}
#section_div3_flex1 #sdf1_img7{
    width: 103px;
    height: 130px;
    background: url("img/radio_7.jpg") no-repeat;
    background-size: 101px 101px;
    margin-right: 36px;
    cursor: pointer;
}
#section_div3_flex1 #sdf1_img8{
    width: 103px;
    height: 130px;
    background: url("img/radio_8.jpg") no-repeat;
    background-size: 101px 101px;
    margin-right: 36px;
    cursor: pointer;
}
#section_div3_flex1 #sdf1_img9{
    width: 103px;
    height: 130px;
    background: url("img/radio_9.jpg") no-repeat;
    background-size: 101px 101px;
    margin-right: 36px;
    cursor: pointer;
}
#section_div3_flex1 #sdf1_img10{
    width: 103px;
    height: 130px;
    background: url("img/radio_10.jpg") no-repeat;
    background-size: 101px 101px;
    cursor: pointer;
}
#section_div3_flex1>div p{
    text-align: center;
    margin-top: 110px;
    cursor: pointer;
}
.flex1_div>div:hover .sdf1_text{
    color: #169AF3;
}
#section_div3_img{
    width: 1004px;
    height: 100px;
    margin-top: 42px;
}
#section_div3_flex2{
    display: inline-block;
    width: 324px;
    height: 305px;
    margin: 30px 0 0 40px ;
    display: flex;
    flex-direction: column;
}
#section_div3_flex2>div{
    display: flex;
    flex-direction: row;
}
#section_div3_flex2 #sdf2_img1{
    width: 158px;
    height: 158px;
    background: url("img/20180508175857586.jpg") no-repeat;
    background-size: 158px 158px;
    margin: 0px 3px 3px 0;
}
#section_div3_flex2 #sdf2_img2{
    width: 158px;
    height: 158px;
    background: url("img/20180515002522714.jpg") no-repeat;
    background-size: 158px 158px;
}
#section_div3_flex2 #sdf2_img3{
    width: 105px;
    height: 105px;
    background: url("img/20151022113528423264.jpg") no-repeat;
    background-size: 105px 105px;
    margin-right: 2px;
}
#section_div3_flex2 #sdf2_img4{
    width: 105px;
    height: 105px;
    background: url("img/20180518110342985.jpg") no-repeat;
    background-size: 105px 105px;
    margin-right: 2px;
}
#section_div3_flex2 #sdf2_img5{
    width: 105px;
    height: 105px;
    background: url("img/20161209164303152140.jpg") no-repeat;
    background-size: 105px 105px;
}
#sdf2_top>div:hover{
    color: #169AF3;
}
#sdf2_top>div{
    cursor: pointer;
    color: white;
    line-height: 286px;
}
#sdf2_bottom>div{
    cursor: pointer;
    color: white;
    line-height: 182px;
}
#sdf2_bottom>div:hover{
    color: #169AF3;
}


/*section_div4*/
#section_div4{
    display: flex;
    flex-direction: column;
    width: 1004px;
    height: 263px;
    margin: 42px auto;
}
#section_div4_head{
    font-size: 30px;
    cursor: pointer;
}
#section_div4_flex1{
    display: flex;
    flex-direction: row;
    margin-top: 26px;
}
#section_div4_flex1>div{
    width: 130px;
    height: 60px;
    border: 1px dashed #777777;
    margin-left: 14px;
}
#section_div4_flex1>div>img{
    width: 130px;
    height: 60px;
    cursor: pointer;
}
#section_div4_flex2{
    display: flex;
    flex-direction: row;
    margin-top: 6px;
}
#section_div4_flex2>div{
    width: 130px;
    height: 60px;
    border: 1px dashed #777777;
    margin-left: 14px;
}
#section_div4_flex2>div>img{
    width: 130px;
    height: 60px;
    cursor: pointer;
}
#section_div4_flex3{
    display: flex;
    flex-direction: row;
    margin-top: 6px;
}
#section_div4_flex3>div{
    width: 130px;
    height: 60px;
    border: 1px dashed #777777;
    margin-left: 14px;
}
#section_div4_flex3>div>img{
    width: 130px;
    height: 60px;
    cursor: pointer;
}

/*section_div5*/
#section_div5{
    width: 1004px;
    height: 125px;
    margin: 45px auto;
}
#section_div5>div{
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
}
#section_div5>p{
    display: inline-block;
    font-size: 10px;
    float: right;
    margin-top: 15px;
    cursor: pointer;
}
#section_div5>p:hover{
    color: #169AF3;
}
#section_div5>ul{
    width: 1004px;
    height: 60px;
}
#section_div5>ul>li{
    list-style: none;
    display: inline-block;
    width: 120px;
    height: 15px;
    margin-top: 23px;
    font-size: 14px;
    color: #777777;
    cursor:pointer;
}
#section_div5>ul>li:hover{
    color: #169AF3;
}


/*footer*/
footer{
    width: 100%;
    height: 290px;
    background-color: #2C323B;
}
#footer_div1{
    width: 100%;
    height: 40px;
}
#footer_div1_ul1{
    display: inline-block;
    margin-left: 240px;
    margin-top: 15px;
}
#footer_div1_ul1>li{
    display: inline-block;
    list-style: none;
    color: #CCCCCC;
    margin-left: 13px;
    font-size: 12px;
    cursor: pointer;
}
#footer_div1_ul1>li:hover{
    color: #169AF3;
}
#footer_div1_ul1>li>p{
    display: inline-block;
    width: 12px;
    height: 1px;
    background-color: #CCCCCC;
    transform: rotate(90deg);
    position: relative;
    top: -3px;
    left: 6px;
}
#footer_div22{
    margin-top: 50px;
}
#footer_div22>p{
    margin-top: 15px;
    color: #CCCCCC;
    text-align: center;
    cursor: pointer;
}
#footer_div22>p>img{
    position: relative;
    bottom: -2px;
}
